  <div class="card">
    <h1>Is blockchain voting feasible?</h1>
    <form  *ngIf="candidates" [formGroup]="form" (ngSubmit)="vote()">
        <p *ngFor="let candidate of candidates">
          <input [id]="candidate.id" type="radio" formControlName="answer" [value]="candidate.id"/>
          <label [for]="candidate.id">{{candidate.name}}</label>
        </p>
        <p class="center">
          <button type="submit" class="vote-button" [disabled]="form.get('answer').value==null">Vote</button>
        </p>
    </form>
  <div>
