.vote-button {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;
    padding: 1em;
    width: 100px;
    border-radius: 3em;
    background-color: rgb(28, 79, 138);
    border-color: rgb(28, 79, 138);
    outline: none;
    color: white;
    &:hover {
        background-color: rgb(21, 60, 105);
        border-color: rgb(21, 60, 105);
    }

    &:disabled,
    &[disabled]{
    background-color: #9da9af;

    
}
}
