.votes {
    display: flex;
    margin-bottom: 15px;

    .transistion {
        transition: width 1s ease-in;
    }

    .percentage {
        padding: 15px;
        font-style: normal;
    }
    
    .yes {
        background-color: #2196F3;
        background: linear-gradient(to bottom right, #2196F3, rgb(0, 90, 163));
    }
    
    .no {
        transition-delay: 0.5s;
        background-color: #f44336d4;
        background: linear-gradient(to bottom right, #F44336, #f443366e);
    }

    .yes, .no {
        color: white;
        padding: 15px;
        padding-right: 25px;
        min-width: 4%;
        border-radius: 20px 20px 20px 0;
        width: 0px;
    }

}

.total {
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

